<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>jenkins-slave-1</name>
  <description>c build server</description>
  <remoteFS>/home/jenkins-slave-1/</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.30.0">
    <host>172.31.46.230</host>
    <port>22</port>
    <credentialsId>9f14938c-7a5c-4611-a2a6-3c0e271033d6</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>C_build</label>
  <nodeProperties/>
</slave>